.listcontainer {
    width: 100%;
    height: 90%;
    padding: 3em;
    display: flex;
    flex-flow: wrap;
    .signout {
        display: flex;
        flex-flow: row-reverse;
        align-self: flex-end;
        width: 100%;
        .signoutbutton {
            width: 3.2em;
            height: 3.2em;
            border-radius: 100%;
            position: fixed;
            bottom: 30px;
            right: 30px;
            background-color: #ff8282;
            border: none;
            cursor: pointer;
            color: white;
        }
    }
}