.toolbarcontainer {
    width: 10em;
    background-color: pink;
    height: 100%;
    .elements {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        .elementsbutton {
            width: 5em;
            height: 5em;
            margin: 5px;
        }
        .searchbar {
            width: 75%;
        }
    }
}