.newcanva {
    display: flex;
    flex-flow: column;
    width: 10em;
    // height: 12em;
    margin-right: 30px;
    justify-content: flex-start;
    .addcanva {
        display: flex;
        border: 3px solid #7795ff;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 10em;
        height: 10em;
        margin-bottom: 5px;
    }
}